<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>授權</title>
</head>
<body style="margin: 0px">
<div class="title">
    <div class="title-right">TSMP 授權</div>
</div>
<div class="container">
    <h3 th:text="'Do you authorize '+${tsmpClient.getAlias()}+' to access your protected resources?'"></h3>
    <p>自訂授權頁面</p>
    <!-- 授權完成後導向 /identity  -->
    <!--  因在tsmp上訪問路徑皆為/dcName/moduleName/..開頭 故須考慮path階層關係  -->
    <form id="confirmationForm" name="confirmationForm" action="../identity" method="post">
        <input type="hidden" name="user_oauth_approval" value="true">
        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}"/>
        <!--由後端取得相關scope並顯示 -->

        <!-- 部署至TSMP時可由此方式渲染所需欄位-->
        是否為第一次授權 <p th:text="${isFirstTimesApproval}" />
        <ul>
            <li th:each="tsmpVScope1: ${tsmpVScope.keySet()}">
                <div class="form-group" >
                    <strong th:text="${tsmpVScope.get(tsmpVScope1).getName()}" /><br />
                    效期<strong th:text="${tsmpVScope.get(tsmpVScope1).getAllowDays()}" />日
                    <strong>到期日:</strong><strong th:text="${expiryDateMapV.get(tsmpVScope1)}" /><br />
                    授權功能說明:<strong th:text="${tsmpVScope.get(tsmpVScope1).getDesc()}" /><br />
                    <ul>
                        <li th:each="tsmpScope1: ${tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().keySet()}">
                            api key:<strong th:text="${tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().get(tsmpScope1).getName()}" /><br />
                            api name:<strong th:text="${tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().get(tsmpScope1).getAlias()}" /><br />
                            module name:<strong th:text="${tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().get(tsmpScope1).getTsmpAPIS().get(0).getModuleName()}" /><br />
                            last modify time:<strong th:text="${tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().get(tsmpScope1).getTsmpAPIS().get(0).getLastModifyTime()}" /><br />
                            <input type="radio" th:name="${tsmpScope1}" value="true" th:attr ="checked=${tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().get(tsmpScope1).getApproved()}">Approve</input>
                            <input type="radio" th:name="${tsmpScope1}" value="false" th:attr ="checked=${!tsmpVScope.get(tsmpVScope1).getTsmpScopeMap().get(tsmpScope1).getApproved()}">Deny</input>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul>
            <li th:each="tsmpScope1: ${tsmpNVScope.keySet()}">
                <div class="form-group" >
                    <strong th:text="${tsmpNVScope.get(tsmpScope1).getName()}" />:<strong th:text="${tsmpNVScope.get(tsmpScope1).getAlias()}" /><br />
                    效期<strong th:text="${tsmpNVScope.get(tsmpScope1).getAllowDays()}" />日
                    <strong>到期日:</strong><strong th:text="${expireDate.get(tsmpScope1)}" /><br />
                    授權功能說明:<strong th:text="${tsmpNVScope.get(tsmpScope1).getDesc()}" /><br />
                    <ul>
                        <li th:each="tsmpAPI: ${tsmpNVScope.get(tsmpScope1).getTsmpAPIS()}">
                            api key:<strong th:text="${tsmpAPI.getApiKey()}" /><br />
                            api name:<strong th:text="${tsmpAPI.getApiName()}" /><br />
                            module name:<strong th:text="${tsmpAPI.getModuleName()}" /><br />
                            last modify time:<strong th:text="${tsmpAPI.getLastModifyTime()}" /><br />
                        </li>
                    </ul>
                    <input type="radio" th:name="${tsmpScope1}" value="true" th:attr ="checked=${tsmpNVScope.get(tsmpScope1).getApproved()}">Approve</input>
                    <input type="radio" th:name="${tsmpScope1}" value="false" th:attr ="checked=${!tsmpNVScope.get(tsmpScope1).getApproved()}">Deny</input>
                </div>
            </li>
        </ul>
        <label><input name="authorize" value="Authorize" type="submit"/></label>
    </form>
</div>
</body>
</html>