<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>授權</title>
</head>
<body style="margin: 0px">
<div class="title">
    <div class="title-right">IB Revoke</div>
</div>
<div class="container">

    <form id="confirmationForm" name="confirmationForm" action="../revoke" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}"/>
        <div th:each="tsmpClientKey: ${tsmpClientMap.keySet()}" class="container">
            <th:block th:text="${tsmpClientMap.get(tsmpClientKey)}">Label</th:block>
            <input type="checkbox" name="clientIds" th:value="${tsmpClientKey}"/>
            <ul>
                <li th:each="tsmpScope: ${tsmpScopeMap.get(tsmpClientKey)}">
                    <div class="form-group">
                        <strong th:text="${tsmpScope.getName()}"/>:<strong th:text="${tsmpScope.getAlias()}"/><br/>
                        效期<strong th:text="${tsmpScope.getAllowDays()}"/>日
                        <strong>到期日:</strong><strong th:text="${tsmpScope.getExpireDate()}" /><br/>
                        授權功能說明:<strong th:text="${tsmpScope.getDesc()}"/><br/>
                    </div>
                </li>
            </ul>
        </div>
        <br/>
        <label><input name="revoke" value="Revoke" type="submit"/></label>
    </form>
</div>
</body>
</html>