<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>授權</title>
</head>
<body style="margin: 0px">
<div class="title">
    <div class="title-right">OTP驗證</div>
</div>
<div class="container">
    <!--  因在tsmp上訪問路徑皆為/dcName/moduleName/..開頭 故須考慮path階層關係  -->
    <form id="confirmationForm" name="confirmationForm" action="./otpcheck" method="post">
        <!-- 取得使用者前面所點選的socp在此頁面作暫存       -->
        <div th:each="approvalkey: ${approvalParameters.keySet()}">
            <input type="hidden" th:name="${approvalkey}" th:value="${approvalParameters.get(approvalkey)}" readonly="true"/>
        </div>
        <label for="otp" class="sr-only">OTP驗證碼</label><br />
        <input type="text" id="otp" name="otp" placeholder="OTP驗證碼" />
        <label><input name="authorize" value="Authorize" type="submit"/></label>
    </form>
</div>
</body>
</html>