<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <script src="../static/js/bootstrap.min.js" th:src="@{../js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <p>TSMP User Info</p>
    <form class="form-signin" action="./check_input" method="post">
        <h2 class="form-signin-heading">請輸入資料</h2>
        <label for="ib" class="sr-only">身分證字號</label>
        <input type="text" id="ib" name="ib" class="form-control" placeholder="身分證字號" /><br />
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" /><br />
        <input type="text" id="phoneNum" name="phoneNum" class="form-control" placeholder="手機號碼" /><br />
        <!--  避免csrf攻擊 為必要欄位      -->
        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden"  th:name="client_id" th:value="${#httpServletRequest.getParameter('client_id')}" />
        <input type="hidden"  th:name="auth_type" th:value="${#httpServletRequest.getParameter('auth_type')}" />
        <input type="hidden"  th:name="scope" th:value="${#httpServletRequest.getParameter('scope')}" />
        <input type="hidden"  th:name="redirect_uri" th:value="${#httpServletRequest.getParameter('redirect_uri')}" />
        <input type="hidden"  th:name="response_type" th:value="${#httpServletRequest.getParameter('response_type')}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>


</div> <!-- /container -->
</body>
</html>