<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TSP Revoke</title>
</head>
<body style="margin: 0px">
<form id="confirmationForm" name="confirmationForm" action="../revoke" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}"/>
    <div class="title">
        <div class="title-right">TSP Revoke</div>
    </div>
    <div class="container">
        <th:block th:text="${tsmpClient.getName()}">Label</th:block>
        <input type="checkbox" name="clientIds" th:value="${tsmpClient.getId()}"/>
        <ul>
            <li th:each="tsmpScope: ${tsmpScopes}">
                <div class="form-group">
                    <strong th:text="${tsmpScope.getName()}"/>:<strong th:text="${tsmpScope.getAlias()}"/><br/>
                    效期<strong th:text="${tsmpScope.getAllowDays()}"/>日
                    <strong>到期日:</strong><strong th:text="${tsmpScope.getExpireDate()}" /><br/>
                    授權功能說明:<strong th:text="${tsmpScope.getDesc()}"/>
                </div>
            </li>
        </ul>
    </div>
    <label><input name="revoke" value="Revoke" type="submit"/></label>
</form>
</body>
</html>